body {
  --clr-white: #ffffff;
  --crl-black: #071232;
  --crl-primary: #4ca6a8;
  --crl-primary-hover: #f3f3f3;
  --crl-primary-active: #e4f3f4;
  --crl-primary-unactive: #9ca8ba;
  --crl-secondary: #e4f3f4;
  --crl-secondary-bg: #f4f6f8;
  --crl-secondary-element: #05090e;
  --crl-border: #ebebeb;
}
